absl-py==0.11.0
astor==0.8.1
bleach==1.5.0
gast==0.4.0
grpcio==1.33.2
html5lib==0.9999999
importlib-metadata==2.0.0
Markdown==3.2.2
numpy==1.18.5
opencv-python==4.4.0.42
protobuf==3.14.0
six==1.15.0
tensorboard==1.8.0
tensorflow-gpu==1.8.0
termcolor==1.1.0
Werkzeug==1.0.1
zipp==1.2.0
